body {
  font-family: 'Roboto', sans-serif;
  color: #434455;

  background-color: #ffffff;
  height: 100vh;
}
/* defolts-settings */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
img {
  display: block;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

:root {
  --background-dark: #2e2f42;
  --background-light: #f4f4fd;
  --background-white: #ffffff;
  --primary-btn: #4d5ae5;
  --pressed-btn: #404bbf;
  --title-color: #2e2f42;
  --descr-color: #434455;
  --checkbox-icon: #ffffff;
  --background-icon-color: #8e8f99;
  --additional-text-color: #434455;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo {
  color: var(--primary-btn);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.customers-icon:hover,
.customers-icon:focus {
  border-color: #404bbf;
  color: #404bbf;
}
button {
  cursor: pointer;
}
.filter-btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 48px;
  margin-top: 64px;
}

.filter-but {
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  color: #4d5ae5;
  padding: 12px 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-menu {
  margin-left: auto;
}

.filter-but:hover,
.filter-but:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: var(--pressed-btn);
  border-radius: 2px;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: var(--pressed-btn);
  border-radius: 2px;
}
.modal-open-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: none;
  min-height: 56px;
  min-width: 169px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* OLD-STYLES */
.portfolio-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.logo-header-light {
  color: #2e2f42;
}

.logo-footer-dark {
  color: #f4f4fd;
}

/* mobile-pone-style */
@media screen and (max-width: 767px) {
  .header-page {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  /* .header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  .site-menu-item {
    display: none;
  }

  .site-menu-link::after {
    display: none;
  }

  .contact {
    display: none;
  }

  .mobile-menu-open-button {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-open-btn-icon {
    stroke: var(--background-dark);
  }
}
.header-page {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.hero-title {
  margin-bottom: 72px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .our-goal-dscr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .our-goal-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
  .our-goal-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
  }
  .our-goal-title {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #2e2f42;
  }
  .footer-social-title {
    text-align: center;
    font-style: 500;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-weight: 500;
  }
  .our-goal-sec {
    padding-bottom: 96px;
  }
}

.our-team {
  background: var(--background-light);
  padding: 96px 0;
}

/* 
0px - 767px
2x
*/
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/Mobile/mob-dark-bg.jpg);
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
/* contacts */
.contact {
  margin-left: auto;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-btn);
}
.contact:hover,
.contact:focus {
  color: var(--pressed-btn);
}
@media screen and (max-width: 767px) {
  .hero {
    margin-bottom: 72px;
    padding: 112px 0;
    max-height: 432px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/Mobile/mob-dark-bg.jpg);
    max-width: 428px;
  }
  .portfolio-list-img-wrapper {
    position: relative;
    overflow: hidden;
  }

  .portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .portfolio-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .portfolio-dscr {
    color: var(--additional-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-text-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.customers-item {
  width: calc((100% - 48px) / 2);
  height: 88px;
}

/* 
768px +
2x
*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url('../images/Mobile/mob-dark-bg2x.jpg');
  }
}
/* .contact-list {
  padding: 16px;
  margin: 16px;
} */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team-list {
    margin-right: auto;
    margin-left: auto;
    max-width: 552px;
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 36px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .hero {
    margin-bottom: 96px;
    padding: 112px 0;
    height: 435px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/tablet/Dark-bg@2x.jpg);
    max-width: 768px;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-goal-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .our-goal-list {
    display: flex;
  }
  .our-goal-item {
    display: block;
    width: calc((100% - 24px) / 2);
  }
  .our-goal-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    /* padding-top: 72px; */
    color: #2e2f42;
  }

  .footer-container {
    max-width: 552px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .container-foorer-logo {
    text-align: start;
  }
  .footer-subscription-form {
    column-gap: 24px;
    display: flex;
  }
  .footer-form-input {
    width: 264px;
    margin-bottom: 0;
  }
  .footer-dscr {
    color: var(--background-white);
    font-size: 16px;
    line-height: 1.5;
    display: block;
    width: 264px;
    max-width: 268px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
  }
  .footer-social-title {
    font-style: 500;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-weight: 500;
  }
  .modal {
    max-width: 408px;
  }
}
/* .section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
} */
.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  margin-bottom: 48px;
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    margin-bottom: 96px;
    margin-top: 64px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  .container {
    width: 766px;
  }
  .logo {
    margin-right: 121px;
  }
  .mobile-menu-open-button {
    display: none;
  }
  .customers-container {
    max-width: 552px;
  }
  .customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  .site-menu-link:hover,
  .site-menu-link:focus {
    color: var(--pressed-btn);
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .site-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .site-menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color var(--transition-duration-and-func);
  }
  .button {
    background-color: var(--background-light);
  }

  /* ========current========== */

  .current {
    position: relative;
    color: #404bbf;
  }
  .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: var(--pressed-btn);
    border-radius: 2px;
  }
  .mobile-menu {
    display: none;
  }
}
/* .our-goal-sec {
  padding-top: 96px;
  padding-bottom: 96px;
} */
.our-team-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-container {
  padding-top: 32px;
  padding-bottom: 32px;
}
.our-team-members {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-team-desc {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.our-team-item {
  width: 264px;
  min-height: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--pressed-btn);
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: var(--background-light);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ================== */

.section-customers {
  padding-bottom: 96px;
}
.customers-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

.customers-icon {
  fill: var(--background-icon-color);
}
.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon:hover,
.customers-icon:focus {
  border-color: #404bbf;
  color: #404bbf;
}

@media screen and (max-width: 767px) {
  .footer {
    background: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .footer-link {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer-dscr {
    font-size: 16px;
    line-height: 1.5;
    display: block;
    width: 264px;
    max-width: 268px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    color: #f4f4fd;
  }
  .filter-btn-list {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 48px;
    display: flex;
  }
  .footer-social-text,
  .footer-elements-sybscribe,
  .footer-subscribe-text {
    text-align: center;
  }

  .mobile-menu-contacts {
    margin-bottom: 48px;
  }

  .current-page {
    color: #404bbf;
  }
  .mobile-contact-adress-tel {
    color: #4d5ae5;
    font-weight: 600;
    font-size: calc(24px + (12 + 12 * 0.7) * ((100vw - 320px) / 1200));
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-style: normal;
  }
  .mobile-contact-adress-mail {
    color: #434455;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-bottom: 48px;
  }
  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-social-list {
    display: flex;
    justify-content: space-between;
  }
  .mobile-nav-link {
    color: #2e2f42;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }
  .site-nav-mobile-menu {
    padding: 0;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.container-foorer-logo {
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--pressed-btn);
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: var(--background-light);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .footer-form-input {
    width: 100%;
  }
}
/* 320px MOBILE */
@media screen and (max-width: 320px) {
  .portfolio-list-img-wrapper {
    width: 284px;
  }
  /* .portfolio-img-mobile {
    width: 320px;
  } */
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .our-goal-item {
    width: 396px;
  }
}
/* From 320px to 375px */
@media screen and (min-width: 320px) and (max-width: 321px) {
  body {
    width: auto;
  }
  .mobile-menu {
    max-width: 320px;
  }
  .hero-title {
    max-height: 80px;
    margin-top: -4px;
    margin-bottom: 32px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 29px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #ffffff;
  }
  .our-goal-dscr {
    width: 284px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

.footer {
  width: 100%;
  background-color: var(--background-dark);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-social-title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-social-media {
  display: flex;
  gap: 16px;
}

.footer-social-media-item {
  width: 40px;
  height: 40px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-btn);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}

.footer-social-list-icon {
  fill: var(--background-light);
}

@media screen and (max-width: 1200px) {
  .we-doing {
    display: none;
  }
  .our-list-icon {
    display: none;
  }
  .overlay {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    color: var(--primary-btn);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 76px;
  }
  .contact-list {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
  .our-goal-sec {
    /* padding-top: 96px; */
    padding-bottom: 96px;
  }
  .portfilio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-links {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-links:hover .overlay,
  .portfolio-links:focus .overlay {
    transform: translateY(0);
  }

  .portfolio-links:hover,
  .portfolio-links:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .applications {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .portfolio-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .portfolio-dscr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background: #4d5ae5;
    mix-blend-mode: normal;
    color: #f4f4fd;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-img-wrapper {
    position: relative;
    overflow: hidden;
  }
  .portfolio-list-img-wrapper:hover .overlay,
  .portfolio-list-img-wrapper:focus {
    transform: translateY(0%);
  }
  .container {
    width: 1158px;
  }
  .customers-container {
    max-width: 1128px;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-page {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  .hero {
    padding: 192px 0;
    height: 603px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/group-people-working-website-template.jpg);
    max-width: 1440px;
  }
  .hero-title {
    margin-bottom: 44px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #ffffff;
  }
  .our-goal-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-top: 0;
    color: #2e2f42;
  }
  .our-goal-list {
    gap: 24px;
  }
  .our-goal-item {
    box-sizing: border-box;
    width: 264px;
    text-align: left;
    min-height: 109px;
    margin-bottom: 0;
    width: calc((100% - 72px) / 4);
  }
  .our-icons-bgrd {
    background-color: #f4f4fd;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
    border-radius: 4px;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
  }
  .we-doing {
    display: flex;
    padding-bottom: 120px;
  }
  .we-doing-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .we-doing-list {
    display: flex;
    gap: 24px;
  }
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .our-team-list {
    margin-right: auto;
    margin-left: auto;

    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .customers-list {
    gap: 24px;
  }
  .customers-item {
    height: 88px;
    width: calc((100% - 120px) / 6);
  }
  .our-team {
    background: var(--background-light);
    padding: 96px 0;
    padding-bottom: 0;
  }
  .customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    max-width: 1158px;
    flex-wrap: nowrap;
    gap: 0;
    align-items: baseline;
  }

  .footer-social-block {
    margin-right: 80px;
  }
  .footer-dscr {
    color: var(--background-white);
    font-size: 16px;
    line-height: 1.5;
    display: block;
    width: 264px;
    max-width: 268px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    text-align: start;
  }
  .filter-btn-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 48px;
    margin-top: 100px;
  }
  .portfolio-list {
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
    margin-bottom: 96px;
    margin-top: 72px;
  }
  /* .logo {
    color: var(--primary-btn);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
  } */
  .container-foorer-logo {
    padding-right: 120px;
  }
}

/* 
1200px +
2x
*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
}

/* 
1x - 96dpi
2x - 192dpi
3x - 288dpi
*/

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: url('../images/car@2x.jpg');
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.section {
  padding: 50px 0;
}
/* ====================== */

/* FOOTER-SUBSCRIBE-FOFM */

.footer-mail-form-container {
  margin-bottom: 16px;
}
.footer-form-container {
  width: 100%;
}
.footer-subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form-input {
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
}
@media screen and (max-width: 767px) {
  .footer-subscribe-button {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-form-footer {
    flex-direction: column;
  }
}

.form-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-button {
  flex-direction: row-reverse;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: var(--pressed-btn);
}
.footer-button-icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}
.contakt-form-btn :hover,
.contakt-form-btn :focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-phone-item {
    margin-bottom: 40px;
  }
  .mobile-contact-adress-tel {
    color: #4d5ae5;
    font-weight: 600;
    font-size: calc(24px + (12 + 12 * 0.7) * ((100vw - 320px) / 1200));
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-style: normal;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 22px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(231, 233, 252, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    padding: 8px;
  }
}

.mobile-nav-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.current-page {
  color: #404bbf;
}

.mobile-menu-link {
  position: relative;
}

.mobile-menu-link {
  margin-bottom: 40px;
}

/* modal_window */

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 72px 24px 24px 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: rgba(231, 233, 252, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* ==================== MODAL-FORM ==================== */
.modal-form-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 16px;
}

.modal-form {
  flex-direction: column;
  gap: 8px;
  padding: 1px 0px 0px;
}

.contact-form-input-wrapper {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--background-icon-color);
  display: block;
  margin-bottom: 4px;
}

.modal-form-container {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:focus {
  border-color: var(--primary-btn);
  fill: var(--primary-btn);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon:hover,
.modal-input-icon:focus {
  fill: var(--primary-btn);
}

.modal-form-input:focus + .modal-input-icon {
  fill: var(--primary-btn);
}

.contact-form-input-comment {
  margin-bottom: 16px;
}

.modal-form-text-area {
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  box-sizing: border-box;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text-area:hover,
.modal-form-text-area:focus {
  border-color: var(--primary-btn);
}

/* ----------------CHECKBOX----------------------------- */
.modal-chekbox {
  margin-bottom: 24px;
}
.modal-chekbox-btn-input {
  appearance: none;
  position: absolute;
}

.modal-chekbox-btn-input:checked + .modal-chekbox-label .modal-privacy-checkbox-span {
  background-color: var(--pressed-btn);
  border: none;
  fill: var(--background-white);
  border-color: var(--pressed-btn);
}
.modal-chekbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--background-icon-color);
}
.modal-privacy-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-prsvacy-link-checkbox {
  color: var(--primary-btn);
}
/* .modal-input-chekbox{

} */
.contakt-form-btn {
  border: none;
  display: block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  border-radius: 4px;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--primary-btn);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakt-form-btn:hover,
.contakt-form-btn:focus {
  background-color: var(--pressed-btn);
}
.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.modal-open-button:hover,
.modal-open-button:focus {
  background-color: #404bbf;
}
/* .portfolio-list {
  justify-content: center;
  column-gap: 24px;
  row-gap: 72px;
  margin-bottom: 96px;
  margin-top: 64px;
} */
.delete-me-after {
  justify-content: center;
  display: flex;
  width: 320px;
  padding-top: 1px;
  margin-right: auto;
  margin-left: auto;
}
