body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}
/* defolts-settings */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

/* colors */
:root {
  --background-dark: #2e2f42;
  --background-light: #f4f4fd;
  --background-white: #ffffff;
  --primary-btn: #4d5ae5;
  --pressed-btn: #404bbf;
  --title-color: #2e2f42;
  --descr-color: #434455;
  --checkbox-icon: #ffffff;
  --background-icon-color: #8e8f99;
  --additional-text-color: #434455;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* header */

.container {
  align-content: center;
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-header-light {
  color: #2e2f42;
}

.logo-footer-dark {
  color: #f4f4fd;
}

/* main-content */

/* SITE-MENU */

.site-menu-link:hover,
.site-menu-link:focus {
  color: var(--pressed-btn);
}

.site-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.site-menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color var(--transition-duration-and-func);
}
.button {
  background-color: var(--background-light);
}

/* ========current========== */

.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: var(--pressed-btn);
  border-radius: 2px;
}
/* contacts */
.contact {
  margin-left: auto;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-btn);
}
.contact:hover,
.contact:focus {
  color: var(--pressed-btn);
}

/* Main-content */

.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  background: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/group-people-working-website-template.jpg);
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* modal */

.modal-open-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: none;
  min-height: 56px;
  min-width: 169px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-open-button:hover,
.modal-open-button:focus {
  background-color: #404bbf;
}

/* section-two_our-goal */

.our-goal-sec {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.our-goal-list {
  display: flex;
  gap: 24px;
}

/* svg_line */

.our-icons-bgrd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.our-goal-item {
  width: calc((100% - 72px) / 4);
}

.our-goal-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-goal-dscr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section-three_we-doing */

.we-doing {
  padding-bottom: 120px;
}

.we-doing-list {
  display: flex;
  gap: 24px;
}

.we-doing-item {
  width: calc((100% - 48px) / 3);
}

.we-doing-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/* forth-section_our-team  */

.our-team-container {
  padding: 32px 0;
}

.our-team {
  background: #f4f4fd;
  padding: 120px 0;
}

.our-team-item {
  flex-basis: calc((100% - 72px) / 4);
  background-color: var(--background-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team-staff {
  padding: 32px 16px;
}

.our-team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}
.our-team-list {
  gap: 24px;
  display: flex;
}
.our-team-members {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-desc {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

.footer-dscr {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer {
  padding: 100px 0;
  background: #2e2f42;
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-container {
  display: block;
}

/* =================PORTFOLIO==================== */

.main-section {
  padding: 96px 0 120px;
}

/* portfolio-buttons */

.filter-btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-but {
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  color: #4d5ae5;
  padding: 12px 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-menu {
  margin-left: auto;
}

.filter-but:hover,
.filter-but:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfilio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-links {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-links:hover .overlay,
.portfolio-links:focus .overlay {
  transform: translateY(0);
}

.portfolio-links:hover,
.portfolio-links:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.applications {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-dscr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background: #4d5ae5;
  mix-blend-mode: normal;
  color: #f4f4fd;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-list-img-wrapper:hover .overlay,
.portfolio-list-img-wrapper:focus {
  transform: translateY(0%);
}
/* Social media */

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--pressed-btn);
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: var(--background-light);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer-social */
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-social-block {
  margin-left: 120px;
}

.container-foorer-logo {
  gap: 120px;
}
.footer-social-title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-social-media {
  display: flex;
  gap: 16px;
}

.footer-social-media-item {
  width: 40px;
  height: 40px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-btn);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}

.footer-social-list-icon {
  fill: var(--background-light);
}

/* section-customers */

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon:hover,
.customers-icon:focus {
  border-color: #404bbf;
  color: #404bbf;
}

/* modal_window */

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  padding: 72px 24px 24px 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: rgba(231, 233, 252, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* ==================== MODAL-FORM ==================== */
.modal-form-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 16px;
}

.modal-form {
  flex-direction: column;
  gap: 8px;
  padding: 1px 0px 0px;
}

.contact-form-input-wrapper {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--background-icon-color);
  display: block;
  margin-bottom: 4px;
}

.modal-form-container {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:focus {
  border-color: var(--primary-btn);
  fill: var(--primary-btn);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon:hover,
.modal-input-icon:focus {
  fill: var(--primary-btn);
}

.modal-form-input:focus + .modal-input-icon {
  fill: var(--primary-btn);
}

.contact-form-input-comment {
  margin-bottom: 16px;
}

.modal-form-text-area {
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  box-sizing: border-box;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text-area:hover,
.modal-form-text-area:focus {
  border-color: var(--primary-btn);
}

/* ----------------CHECKBOX----------------------------- */
.modal-chekbox {
  margin-bottom: 24px;
}
.modal-chekbox-btn-input {
  appearance: none;
  position: absolute;
}

.modal-chekbox-btn-input:checked + .modal-chekbox-label .modal-privacy-checkbox-span {
  background-color: var(--pressed-btn);
  border: none;
  fill: var(--background-white);
  border-color: var(--pressed-btn);
}
.modal-chekbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--background-icon-color);
}
.modal-privacy-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-prsvacy-link-checkbox {
  color: var(--primary-btn);
}
/* .modal-input-chekbox{

} */
.contakt-form-btn {
  border: none;
  display: block;
  cursor: pointer;

  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  border-radius: 4px;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--primary-btn);
}

.contakt-form-btn:hover,
.contakt-form-btn:focus {
  background-color: var(--pressed-btn);
}

/* FOOTER-SUBSCRIBE-FOFM */

.footer-mail-form-container {
  margin-bottom: 16px;
}
.footer-form-container {
  margin-left: 80px;
}
.footer-subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-subscription-form {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.form-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-button {
  flex-direction: row-reverse;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: var(--pressed-btn);
}
.footer-button-icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}
.contakt-form-btn :hover,
.contakt-form-btn :focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
/* =========================== DELETE ========================== */

.delete-me-after {
  padding-top: 1px;
  margin-right: auto;
  margin-left: auto;
}
